IDEA: QUEDARME CON LOS USUARIOS QUE MAYOR CANTIDAD DE ANIMES VIERON Y ENTRENAR UN MODELO SOLO CON ESOS USUARIOS

In [1]:
#Importamos las librerias que utilizaremos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
rating_complete = pd.read_csv(r"C:\Users\ferbi\OneDrive\Desktop\Fer\DATASCIENCE\Cuarto TP Sistemas de recomendacion\archive (10)\rating_complete.csv")

In [3]:
rating_complete.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

In [4]:
rating_complete.shape

(57633278, 3)

In [6]:
rating_complete.user_id.nunique() #Tenemos 310.059 usuarios unicos

310059

In [7]:
# Calculamos la cantidad de animes vistos por cada usuario
anime_count_by_user = rating_complete.groupby('user_id')['anime_id'].count()
anime_count_by_user

user_id
0          35
1         103
2          51
3         315
4         118
         ...
353400     67
353401     62
353402     19
353403     67
353404     30
Name: anime_id, Length: 310059, dtype: int64

In [8]:
# Ordenamos los datos en orden descendente
anime_count_by_user_sorted = anime_count_by_user.sort_values(ascending=False)

# Convertimos la serie ordenada en un nuevo DataFrame
df_anime_count_sorted = pd.DataFrame({'user_id': anime_count_by_user_sorted.index, 'amount_animes_watched': anime_count_by_user_sorted.values})

# Imprimimos el DataFrame ordenado
print("Usuarios ordenados por cantidad de animes vistos:")
print(df_anime_count_sorted)

Usuarios ordenados por cantidad de animes vistos:
        user_id  amount_animes_watched
0        189037                  15455
1        162615                  14864
2         68042                  13462
3        283786                  12778
4        259790                   9996
...         ...                    ...
310054   201316                      1
310055   201300                      1
310056    97555                      1
310057   201293                      1
310058   137466                      1

[310059 rows x 2 columns]

In [10]:
df_anime_count_sorted.shape #Tenemos 310.059 usuarios diferentes

(310059, 2)

Supongamos que me quedo con los 1000 usuarios que mayor cantidad de animes vieron, veamos el tamaño del set de datos original, filtrado segun estos usuarios.

In [11]:
df_1000 = df_anime_count_sorted.head(1000)
df_1000

     user_id  amount_animes_watched
0     189037                  15455
1     162615                  14864
2      68042                  13462
3     283786                  12778
4     259790                   9996
..       ...                    ...
995   325019                   1673
996    12044                   1671
997   332795                   1671
998   222269                   1671
999    73059                   1670

[1000 rows x 2 columns]

In [12]:
rating_complete.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

Unimos ambos datasets:

In [13]:
# Realizamos la unión utilizando 'user_id' como clave y 'inner' como método
merged_df = pd.merge(rating_complete, df_1000, on='user_id', how='inner')

# Imprimimos el DataFrame resultante
print("Usuarios con 'user_id' en común:")
print(merged_df)

Usuarios con 'user_id' en común:
         user_id  anime_id  rating  amount_animes_watched
0            781     10122       6                   3062
1            781       851      10                   3062
2            781     15005       8                   3062
3            781     34955       5                   3062
4            781     20603       7                   3062
...          ...       ...     ...                    ...
2475590   352930       671       7                   2300
2475591   352930      1017       8                   2300
2475592   352930     10465       6                   2300
2475593   352930     10845       6                   2300
2475594   352930     14045       7                   2300

[2475595 rows x 4 columns]

In [14]:
merged_df.shape

(2475595, 4)

In [15]:
merged_df.head()

   user_id  anime_id  rating  amount_animes_watched
0      781     10122       6                   3062
1      781       851      10                   3062
2      781     15005       8                   3062
3      781     34955       5                   3062
4      781     20603       7                   3062

Dividimos el dataset en conjuntos de train y test:

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
df_train, df_test = train_test_split(merged_df, test_size=0.2, random_state=42)

In [18]:
df_train.head()

         user_id  anime_id  rating  amount_animes_watched
1410552   205655     19023       5                   1836
1203513   174711      6772       6                   2864
1660878   245012     12191       4                   2001
1193075   173405     28957      10                   1709
1169418   169563      5152       7                   3141

In [19]:
df_train.shape #Tenemos un conjunto de entrenamiento con 1.980.476 entradas

(1980476, 4)

In [20]:
df_train.user_id.nunique() #En el set de train tenemos 1000 usuarios diferentes

1000

In [21]:
df_train.anime_id.nunique() #En el set de train tenemos 16.795 animes diferentes

16795

In [22]:
df_test.head()

         user_id  anime_id  rating  amount_animes_watched
269048     36253      7674       9                   1674
915920    128855     34107       7                   1834
1971616   286479     25731       7                   1703
1510376   221161     31646       7                   3542
84176      11697     40540       8                   2777

In [23]:
df_test.shape #Tenemos un conjunto de testeo con 495.119 entradas

(495119, 4)

In [24]:
df_test.user_id.nunique() #En el set de test tenemos 1000 usuarios diferentes

1000

Dado que en todo el set de datos tenemos 1000 usuarios diferentes, entendemos que en este caso no habra usuarios COLD START, ya que todos los usuarios que se encuentran en train, se encuentran tambien en test

In [25]:
#Comprobemos esto:
df_test[~df_test.user_id.isin(df_train.user_id.unique())].user_id.nunique()

0

Efectivamente, no tenemos usuarios que aparecen en el set de test pero no en el de train. Sino que todos los usuarios aparecen en ambos conjuntos.

In [26]:
df_train.columns

Index(['user_id', 'anime_id', 'rating', 'amount_animes_watched'], dtype='object')

In [27]:
#Nos quedamos con las columnas que nos interesan, tanto en train como en test: 
df_train = df_train.drop('amount_animes_watched', axis=1)
df_test = df_test.drop('amount_animes_watched', axis=1)

In [28]:
df_train.head()

         user_id  anime_id  rating
1410552   205655     19023       5
1203513   174711      6772       6
1660878   245012     12191       4
1193075   173405     28957      10
1169418   169563      5152       7

In [29]:
df_test.head()

         user_id  anime_id  rating
269048     36253      7674       9
915920    128855     34107       7
1971616   286479     25731       7
1510376   221161     31646       7
84176      11697     40540       8

Ahora, armamos la matriz de interacciones. Sabemos que tenemos 1000 usuarios diferentes y 16.795 animes diferentesen el conjunto de train.

In [30]:
matrix_columns = ['user_id', 'anime_id', 'rating']

In [31]:
interactions = df_train[matrix_columns]
interactions.head()

         user_id  anime_id  rating
1410552   205655     19023       5
1203513   174711      6772       6
1660878   245012     12191       4
1193075   173405     28957      10
1169418   169563      5152       7

In [32]:
interactions.shape

(1980476, 3)

In [33]:
#Reseteamos los indices
interactions = interactions.reset_index(drop=True)

In [34]:
interactions.head()

   user_id  anime_id  rating
0   205655     19023       5
1   174711      6772       6
2   245012     12191       4
3   173405     28957      10
4   169563      5152       7

In [35]:
#Verificamos si existen filas duplicadas
duplicate_rows = interactions[interactions.duplicated(subset=['user_id', 'anime_id'], keep=False)]
print(duplicate_rows)

Empty DataFrame
Columns: [user_id, anime_id, rating]
Index: []

No existen filas duplicadas

In [ ]:
interactions_matrix = interactions.pivot_table(index='user_id', columns='anime_id', values='rating')

In [ ]:
interactions_matrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,47307,47398,47402,47403,47410,47614,47616,47618,48177,48456
user_id,,,,,,,,,,,,,,,,,,,,,
781,NaN,NaN,10.0,10.0,NaN,NaN,7.0,NaN,8.0,10.0,...,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,NaN,9.0,9.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN
1177,8.0,8.0,7.0,NaN,NaN,NaN,7.0,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1397,8.0,8.0,8.0,7.0,NaN,NaN,8.0,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Completamos los NaN con 0s
interactions_matrix = interactions_matrix.fillna(0)
interactions_matrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,47307,47398,47402,47403,47410,47614,47616,47618,48177,48456
user_id,,,,,,,,,,,,,,,,,,,,,
781,0.0,0.0,10.0,10.0,0.0,0.0,7.0,0.0,8.0,10.0,...,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
890,0.0,9.0,9.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
1177,8.0,8.0,7.0,0.0,0.0,0.0,7.0,0.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1397,8.0,8.0,8.0,7.0,0.0,0.0,8.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
interactions_matrix.shape #Tiene 1000 filas (usuarios) y 16.795 columnas (animes)

(1000, 16795)

Vamos a transformar esta matriz sparsa a una matriz csr matrix (compressed sparse row)

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

In [ ]:
interactions_matrix_csr

<1000x16795 sparse matrix of type '<class 'numpy.float64'>'
	with 1980476 stored elements in Compressed Sparse Row format>

La siguiente celda generara un diccionario que nos servira mas adelante como indice. Tiene como keys el id de cada usuario y como valor el indice (numero de fila de la matriz)

In [ ]:
interactions_matrix.index

Index([   781,    890,    943,   1177,   1397,   1469,   1946,   3578,   4773,
         5045,
       ...
       350166, 350215, 350286, 351119, 351361, 351696, 351733, 351801, 352922,
       352930],
      dtype='int64', name='user_id', length=1000)

In [ ]:
user_ids = list(interactions_matrix.index)
user_dict = {}
counter = 0 
for i in user_ids:
    user_dict[i] = counter
    counter += 1

In [ ]:
user_dict

{781: 0,
 890: 1,
 943: 2,
 1177: 3,
 1397: 4,
 1469: 5,
 1946: 6,
 3578: 7,
 4773: 8,
 5045: 9,
 5648: 10,
 6149: 11,
 6548: 12,
 6783: 13,
 7179: 14,
 7588: 15,
 8074: 16,
 8326: 17,
 9528: 18,
 9615: 19,
 9740: 20,
 9747: 21,
 10255: 22,
 10268: 23,
 10359: 24,
 10367: 25,
 10409: 26,
 10851: 27,
 10869: 28,
 11249: 29,
 11648: 30,
 11697: 31,
 11716: 32,
 12044: 33,
 12688: 34,
 12888: 35,
 13184: 36,
 13259: 37,
 13307: 38,
 14347: 39,
 14455: 40,
 14874: 41,
 15083: 42,
 15609: 43,
 16057: 44,
 16282: 45,
 16323: 46,
 16766: 47,
 17273: 48,
 17363: 49,
 18355: 50,
 19014: 51,
 19064: 52,
 19413: 53,
 19486: 54,
 19497: 55,
 20314: 56,
 20457: 57,
 20546: 58,
 20782: 59,
 20807: 60,
 21411: 61,
 21615: 62,
 21878: 63,
 22018: 64,
 23184: 65,
 23878: 66,
 23930: 67,
 24099: 68,
 24350: 69,
 24725: 70,
 24833: 71,
 24875: 72,
 24983: 73,
 24990: 74,
 25383: 75,
 25411: 76,
 25898: 77,
 25902: 78,
 26045: 79,
 26650: 80,
 26654: 81,
 26661: 82,
 26807: 83,
 27297: 84,
 27413: 85,
 27424: 86,
 27694: 87,
 28626: 88,
 29638: 89,
 29650: 90,
 30368: 91,
 30640: 92,
 31440: 93,
 31495: 94,
 31532: 95,
 31547: 96,
 31775: 97,
 31816: 98,
 31891: 99,
 32075: 100,
 32656: 101,
 32665: 102,
 33693: 103,
 33975: 104,
 34501: 105,
 34536: 106,
 34764: 107,
 35182: 108,
 35485: 109,
 35941: 110,
 36253: 111,
 37287: 112,
 37410: 113,
 37441: 114,
 38143: 115,
 38173: 116,
 38287: 117,
 38638: 118,
 39353: 119,
 39649: 120,
 39660: 121,
 39742: 122,
 39785: 123,
 40034: 124,
 40488: 125,
 40583: 126,
 41756: 127,
 42006: 128,
 42079: 129,
 42512: 130,
 43129: 131,
 43182: 132,
 43279: 133,
 43293: 134,
 43319: 135,
 43578: 136,
 43665: 137,
 43902: 138,
 44342: 139,
 44567: 140,
 44714: 141,
 44923: 142,
 45741: 143,
 45839: 144,
 45983: 145,
 46026: 146,
 46479: 147,
 47118: 148,
 47122: 149,
 48537: 150,
 49265: 151,
 49270: 152,
 49373: 153,
 49516: 154,
 50508: 155,
 50678: 156,
 50716: 157,
 51509: 158,
 51934: 159,
 51952: 160,
 52003: 161,
 52047: 162,
 52138: 163,
 52669: 164,
 53100: 165,
 53312: 166,
 53332: 167,
 53814: 168,
 54171: 169,
 54818: 170,
 55748: 171,
 57232: 172,
 57238: 173,
 57563: 174,
 57684: 175,
 58743: 176,
 58944: 177,
 59688: 178,
 59790: 179,
 59837: 180,
 60213: 181,
 60417: 182,
 60440: 183,
 60794: 184,
 60955: 185,
 61294: 186,
 61366: 187,
 63027: 188,
 63174: 189,
 63191: 190,
 63317: 191,
 63339: 192,
 63667: 193,
 63900: 194,
 64074: 195,
 64188: 196,
 64394: 197,
 64746: 198,
 64807: 199,
 65799: 200,
 66271: 201,
 66835: 202,
 66947: 203,
 67389: 204,
 67428: 205,
 67693: 206,
 67943: 207,
 68042: 208,
 68273: 209,
 69889: 210,
 70667: 211,
 70778: 212,
 70964: 213,
 71105: 214,
 71290: 215,
 71433: 216,
 71732: 217,
 71931: 218,
 72589: 219,
 73059: 220,
 73149: 221,
 73800: 222,
 74330: 223,
 74752: 224,
 74959: 225,
 75005: 226,
 75397: 227,
 75519: 228,
 75671: 229,
 75672: 230,
 76035: 231,
 76329: 232,
 76674: 233,
 76844: 234,
 77165: 235,
 77313: 236,
 77563: 237,
 77620: 238,
 78564: 239,
 78993: 240,
 79213: 241,
 79507: 242,
 79586: 243,
 79975: 244,
 80081: 245,
 80535: 246,
 80962: 247,
 81119: 248,
 81158: 249,
 81739: 250,
 82491: 251,
 82737: 252,
 83302: 253,
 83430: 254,
 84177: 255,
 84200: 256,
 84886: 257,
 85106: 258,
 85393: 259,
 85472: 260,
 85764: 261,
 86118: 262,
 86157: 263,
 86164: 264,
 86271: 265,
 86448: 266,
 86885: 267,
 86932: 268,
 87044: 269,
 87622: 270,
 87672: 271,
 88508: 272,
 89125: 273,
 89411: 274,
 89551: 275,
 89953: 276,
 90965: 277,
 92325: 278,
 93788: 279,
 94072: 280,
 94450: 281,
 94793: 282,
 95060: 283,
 95253: 284,
 95676: 285,
 96029: 286,
 96079: 287,
 96100: 288,
 96102: 289,
 98116: 290,
 98385: 291,
 98466: 292,
 99638: 293,
 99690: 294,
 99807: 295,
 100179: 296,
 100348: 297,
 100582: 298,
 100854: 299,
 102250: 300,
 103523: 301,
 104336: 302,
 104739: 303,
 106227: 304,
 106236: 305,
 106492: 306,
 106943: 307,
 107014: 308,
 107059: 309,
 107119: 310,
 107290: 311,
 107650: 312,
 107929: 313,
 108282: 314,
 108616: 315,
 108857: 316,
 109448: 317,
 109584: 318,
 110301: 319,
 110820: 320,
 110825: 321,
 110900: 322,
 111176: 323,
 111397: 324,
 111507: 325,
 112364: 326,
 112634: 327,
 112679: 328,
 112768: 329,
 113617: 330,
 114230: 331,
 114288: 332,
 114389: 333,
 114508: 334,
 114950: 335,
 114992: 336,
 115501: 337,
 116303: 338,
 116563: 339,
 116689: 340,
 117434: 341,
 117521: 342,
 117915: 343,
 117942: 344,
 118079: 345,
 118222: 346,
 118480: 347,
 119497: 348,
 119550: 349,
 119826: 350,
 120082: 351,
 120113: 352,
 121089: 353,
 121738: 354,
 121822: 355,
 121866: 356,
 121938: 357,
 122020: 358,
 122341: 359,
 122756: 360,
 123205: 361,
 125187: 362,
 125249: 363,
 125524: 364,
 125646: 365,
 126474: 366,
 126511: 367,
 126809: 368,
 126880: 369,
 127275: 370,
 127413: 371,
 127483: 372,
 127632: 373,
 127726: 374,
 127740: 375,
 128013: 376,
 128498: 377,
 128781: 378,
 128855: 379,
 128945: 380,
 129411: 381,
 129669: 382,
 130006: 383,
 130016: 384,
 130166: 385,
 130188: 386,
 130219: 387,
 130682: 388,
 131093: 389,
 131528: 390,
 131562: 391,
 132241: 392,
 132307: 393,
 132380: 394,
 132483: 395,
 132753: 396,
 133694: 397,
 134393: 398,
 134603: 399,
 135124: 400,
 135291: 401,
 135337: 402,
 135624: 403,
 135818: 404,
 136004: 405,
 136550: 406,
 137297: 407,
 137543: 408,
 138326: 409,
 138375: 410,
 138523: 411,
 138532: 412,
 138631: 413,
 138967: 414,
 139392: 415,
 139432: 416,
 140382: 417,
 140465: 418,
 140590: 419,
 141860: 420,
 142391: 421,
 144123: 422,
 144384: 423,
 144653: 424,
 144837: 425,
 145003: 426,
 145710: 427,
 145973: 428,
 146204: 429,
 147099: 430,
 147569: 431,
 147649: 432,
 147800: 433,
 148302: 434,
 148413: 435,
 149188: 436,
 149952: 437,
 149973: 438,
 150319: 439,
 150599: 440,
 151205: 441,
 151250: 442,
 151298: 443,
 152175: 444,
 152696: 445,
 152911: 446,
 153442: 447,
 153618: 448,
 153735: 449,
 153893: 450,
 155170: 451,
 156013: 452,
 156081: 453,
 156940: 454,
 157674: 455,
 158404: 456,
 158503: 457,
 158663: 458,
 159988: 459,
 160023: 460,
 160987: 461,
 162596: 462,
 162615: 463,
 162892: 464,
 162974: 465,
 162999: 466,
 163196: 467,
 163212: 468,
 164868: 469,
 165251: 470,
 165426: 471,
 165485: 472,
 165549: 473,
 165616: 474,
 165652: 475,
 165830: 476,
 165884: 477,
 166915: 478,
 167395: 479,
 167810: 480,
 167892: 481,
 168591: 482,
 168939: 483,
 169423: 484,
 169563: 485,
 170182: 486,
 170709: 487,
 171144: 488,
 171624: 489,
 171831: 490,
 172151: 491,
 172196: 492,
 172735: 493,
 172855: 494,
 173189: 495,
 173405: 496,
 173716: 497,
 174025: 498,
 174703: 499,
 174711: 500,
 175897: 501,
 176954: 502,
 177059: 503,
 177649: 504,
 178311: 505,
 178437: 506,
 178933: 507,
 179258: 508,
 179525: 509,
 180661: 510,
 181148: 511,
 181192: 512,
 181711: 513,
 182066: 514,
 182168: 515,
 182280: 516,
 182330: 517,
 182377: 518,
 182737: 519,
 184963: 520,
 184995: 521,
 186325: 522,
 186397: 523,
 186498: 524,
 186506: 525,
 186873: 526,
 186907: 527,
 187000: 528,
 187172: 529,
 187292: 530,
 187932: 531,
 188096: 532,
 188335: 533,
 189037: 534,
 189051: 535,
 189690: 536,
 189815: 537,
 190025: 538,
 190140: 539,
 190748: 540,
 191503: 541,
 191960: 542,
 192123: 543,
 192535: 544,
 193187: 545,
 193634: 546,
 194031: 547,
 194496: 548,
 194781: 549,
 195301: 550,
 195355: 551,
 195456: 552,
 195648: 553,
 196423: 554,
 196467: 555,
 197098: 556,
 198173: 557,
 198288: 558,
 198999: 559,
 199237: 560,
 199673: 561,
 199936: 562,
 200359: 563,
 200997: 564,
 201507: 565,
 201742: 566,
 203180: 567,
 203285: 568,
 203442: 569,
 203453: 570,
 204730: 571,
 204814: 572,
 205106: 573,
 205336: 574,
 205655: 575,
 205885: 576,
 205959: 577,
 206632: 578,
 206828: 579,
 207223: 580,
 207530: 581,
 207928: 582,
 208102: 583,
 208254: 584,
 208330: 585,
 208752: 586,
 209094: 587,
 209447: 588,
 209510: 589,
 209638: 590,
 210447: 591,
 210864: 592,
 210971: 593,
 212486: 594,
 212891: 595,
 213504: 596,
 214132: 597,
 214217: 598,
 214527: 599,
 214737: 600,
 215036: 601,
 215566: 602,
 215593: 603,
 215614: 604,
 216141: 605,
 216532: 606,
 216807: 607,
 216883: 608,
 217217: 609,
 217586: 610,
 217920: 611,
 218449: 612,
 218472: 613,
 218730: 614,
 219047: 615,
 219370: 616,
 220002: 617,
 220206: 618,
 220437: 619,
 221161: 620,
 221238: 621,
 221712: 622,
 221741: 623,
 221861: 624,
 222269: 625,
 222853: 626,
 223012: 627,
 223344: 628,
 223400: 629,
 223742: 630,
 224841: 631,
 224911: 632,
 225127: 633,
 225159: 634,
 225887: 635,
 226043: 636,
 226501: 637,
 226869: 638,
 227192: 639,
 227206: 640,
 228256: 641,
 228272: 642,
 228939: 643,
 229464: 644,
 229495: 645,
 229708: 646,
 229851: 647,
 229857: 648,
 230482: 649,
 230616: 650,
 231173: 651,
 231257: 652,
 231923: 653,
 232707: 654,
 234429: 655,
 234753: 656,
 234983: 657,
 235223: 658,
 236132: 659,
 236207: 660,
 236366: 661,
 236706: 662,
 237101: 663,
 237237: 664,
 237327: 665,
 237576: 666,
 238116: 667,
 238122: 668,
 238267: 669,
 238827: 670,
 238951: 671,
 239826: 672,
 239852: 673,
 240484: 674,
 241580: 675,
 241668: 676,
 241697: 677,
 242446: 678,
 243053: 679,
 243252: 680,
 243289: 681,
 243466: 682,
 243620: 683,
 243768: 684,
 243913: 685,
 244494: 686,
 244958: 687,
 245012: 688,
 245056: 689,
 245354: 690,
 245844: 691,
 245980: 692,
 246969: 693,
 247274: 694,
 247360: 695,
 247630: 696,
 248323: 697,
 249106: 698,
 249140: 699,
 249578: 700,
 249664: 701,
 249679: 702,
 249772: 703,
 249925: 704,
 251180: 705,
 251316: 706,
 251388: 707,
 251620: 708,
 251905: 709,
 252242: 710,
 252275: 711,
 252383: 712,
 252689: 713,
 252916: 714,
 253744: 715,
 253832: 716,
 254739: 717,
 255216: 718,
 256419: 719,
 256668: 720,
 256814: 721,
 256890: 722,
 257277: 723,
 257590: 724,
 257688: 725,
 258311: 726,
 258335: 727,
 258459: 728,
 259381: 729,
 259542: 730,
 259790: 731,
 260005: 732,
 260069: 733,
 260123: 734,
 260172: 735,
 261314: 736,
 261510: 737,
 261665: 738,
 261827: 739,
 262108: 740,
 263012: 741,
 263096: 742,
 263807: 743,
 263975: 744,
 264176: 745,
 264755: 746,
 264929: 747,
 264945: 748,
 264980: 749,
 265071: 750,
 266013: 751,
 266116: 752,
 266414: 753,
 266434: 754,
 267077: 755,
 267187: 756,
 267672: 757,
 267712: 758,
 267876: 759,
 268041: 760,
 268503: 761,
 268647: 762,
 269025: 763,
 269647: 764,
 269830: 765,
 270011: 766,
 270144: 767,
 270254: 768,
 270303: 769,
 271305: 770,
 271396: 771,
 271499: 772,
 272074: 773,
 272784: 774,
 272989: 775,
 273071: 776,
 274266: 777,
 274463: 778,
 275011: 779,
 275125: 780,
 276045: 781,
 276635: 782,
 276737: 783,
 276953: 784,
 277335: 785,
 277548: 786,
 277549: 787,
 277708: 788,
 277841: 789,
 278333: 790,
 279054: 791,
 279622: 792,
 279696: 793,
 279837: 794,
 280192: 795,
 280741: 796,
 281081: 797,
 281848: 798,
 281985: 799,
 282322: 800,
 282607: 801,
 283028: 802,
 283041: 803,
 283272: 804,
 283490: 805,
 283516: 806,
 283786: 807,
 285547: 808,
 285683: 809,
 286450: 810,
 286479: 811,
 286636: 812,
 287023: 813,
 287094: 814,
 287309: 815,
 287940: 816,
 289506: 817,
 290033: 818,
 290134: 819,
 290269: 820,
 290600: 821,
 290647: 822,
 290954: 823,
 291207: 824,
 291676: 825,
 292011: 826,
 292408: 827,
 293798: 828,
 294130: 829,
 294192: 830,
 294765: 831,
 295078: 832,
 295130: 833,
 295171: 834,
 296048: 835,
 296194: 836,
 297524: 837,
 297564: 838,
 297715: 839,
 297816: 840,
 297902: 841,
 297977: 842,
 298762: 843,
 298783: 844,
 298988: 845,
 299042: 846,
 299362: 847,
 299777: 848,
 299795: 849,
 300154: 850,
 300428: 851,
 300582: 852,
 301194: 853,
 301909: 854,
 302016: 855,
 302306: 856,
 302517: 857,
 302650: 858,
 303729: 859,
 304072: 860,
 304151: 861,
 304701: 862,
 304833: 863,
 304978: 864,
 305182: 865,
 305485: 866,
 305626: 867,
 305731: 868,
 307126: 869,
 307456: 870,
 308217: 871,
 308237: 872,
 308285: 873,
 308384: 874,
 309429: 875,
 309700: 876,
 310065: 877,
 310553: 878,
 311363: 879,
 312302: 880,
 312360: 881,
 312408: 882,
 313074: 883,
 314549: 884,
 314671: 885,
 314851: 886,
 314888: 887,
 315076: 888,
 315188: 889,
 315617: 890,
 316154: 891,
 316318: 892,
 316538: 893,
 317008: 894,
 318221: 895,
 318585: 896,
 318675: 897,
 318783: 898,
 319137: 899,
 319390: 900,
 319872: 901,
 320334: 902,
 320669: 903,
 321054: 904,
 321374: 905,
 321540: 906,
 321679: 907,
 321704: 908,
 322719: 909,
 323454: 910,
 323567: 911,
 323592: 912,
 323792: 913,
 324041: 914,
 324907: 915,
 325019: 916,
 325125: 917,
 325224: 918,
 325243: 919,
 325387: 920,
 325425: 921,
 325664: 922,
 325852: 923,
 326025: 924,
 326379: 925,
 326466: 926,
 327150: 927,
 327692: 928,
 327931: 929,
 328108: 930,
 328195: 931,
 328397: 932,
 329567: 933,
 329626: 934,
 329704: 935,
 330182: 936,
 330207: 937,
 330319: 938,
 330851: 939,
 331941: 940,
 332300: 941,
 332341: 942,
 332730: 943,
 332787: 944,
 332795: 945,
 332910: 946,
 333379: 947,
 333717: 948,
 333779: 949,
 334640: 950,
 334855: 951,
 335278: 952,
 336459: 953,
 336602: 954,
 336648: 955,
 336750: 956,
 337439: 957,
 337637: 958,
 337955: 959,
 339388: 960,
 339419: 961,
 339581: 962,
 340073: 963,
 340979: 964,
 341076: 965,
 341479: 966,
 341571: 967,
 341584: 968,
 341719: 969,
 342179: 970,
 343229: 971,
 343978: 972,
 344700: 973,
 344776: 974,
 345119: 975,
 345498: 976,
 346240: 977,
 346353: 978,
 346506: 979,
 346787: 980,
 347154: 981,
 347215: 982,
 347444: 983,
 348776: 984,
 348906: 985,
 349054: 986,
 349419: 987,
 349563: 988,
 349858: 989,
 350166: 990,
 350215: 991,
 350286: 992,
 351119: 993,
 351361: 994,
 351696: 995,
 351733: 996,
 351801: 997,
 352922: 998,
 352930: 999}

Modelado: ya tenemos la matriz lista para entrenar el modelo. Utilizaremos la libreria LFM (light fm)

In [ ]:
pip install lightfm

Requirement already satisfied: lightfm in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (1.17)
Requirement already satisfied: numpy in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from lightfm) (1.25.0)
Requirement already satisfied: scipy>=0.17.0 in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from lightfm) (1.11.1)
Requirement already satisfied: requests in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from lightfm) (2.31.0)
Requirement already satisfied: scikit-learn in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from lightfm) (1.3.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from requests->lightfm) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from requests->lightfm) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from requests->lightfm) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from requests->lightfm) (2023.7.22)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn->lightfm) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ferbi\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn->lightfm) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from lightfm import LightFM

c:\Users\ferbi\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

Utilizaremos GridSearchCV para obtener los mejores parametros: 
- no_components: [3, 10, 50, 100, 200] (caracteristicas latentes)
- learning_rate:  [0.01, 0.03, 0.1, 0.2] (controla cuanto se ajustan los parametros del modelo en cada paso del entrenamiento)

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {
    'learning_rate': [0.01, 0.03, 0.1, 0.2],
    'no_components': [3, 10, 50, 100, 200]
}

In [ ]:
model = LightFM()# Instanciamos el modelo

In [ ]:
#grid_search = GridSearchCV(model, param_grid, scoring='accuracy', cv=5)

In [ ]:
#grid_search.fit(interactions_matrix_csr, epochs=10, verbose=True)

Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.24s/it]
c:\Users\ferbi\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py:824: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "c:\Users\ferbi\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py", line 811, in _score
    scores = scorer(estimator, X_test)
             ^^^^^^^^^^^^^^^^^^^^^^^^^
TypeError: _BaseScorer.__call__() missing 1 required positional argument: 'y_true'

  warnings.warn(
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.23s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.20s/it]
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.22s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.18s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.57s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.54s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.52s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.55s/it]
Epoch: 100%|██████████| 10/10 [00:24<00:00,  2.43s/it]
Epoch: 100%|██████████| 10/10 [01:43<00:00, 10.37s/it]
Epoch: 100%|██████████| 10/10 [01:59<00:00, 11.97s/it]
Epoch: 100%|██████████| 10/10 [01:46<00:00, 10.68s/it]
Epoch: 100%|██████████| 10/10 [02:15<00:00, 13.58s/it]
Epoch: 100%|██████████| 10/10 [01:38<00:00,  9.86s/it]
Epoch: 100%|██████████| 10/10 [03:17<00:00, 19.78s/it]
Epoch: 100%|██████████| 10/10 [03:29<00:00, 21.00s/it]
Epoch: 100%|██████████| 10/10 [03:44<00:00, 22.49s/it]
Epoch: 100%|██████████| 10/10 [03:43<00:00, 22.31s/it]
Epoch: 100%|██████████| 10/10 [03:19<00:00, 19.93s/it]
Epoch: 100%|██████████| 10/10 [07:31<00:00, 45.13s/it]
Epoch: 100%|██████████| 10/10 [11:05<00:00, 66.52s/it]
Epoch: 100%|██████████| 10/10 [06:48<00:00, 40.83s/it]
Epoch: 100%|██████████| 10/10 [06:27<00:00, 38.74s/it]
Epoch: 100%|██████████| 10/10 [06:15<00:00, 37.53s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.19s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.19s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.16s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.19s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.15s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.53s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.50s/it]
Epoch: 100%|██████████| 10/10 [00:24<00:00,  2.48s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.52s/it]
Epoch: 100%|██████████| 10/10 [00:24<00:00,  2.42s/it]
Epoch: 100%|██████████| 10/10 [01:42<00:00, 10.29s/it]
Epoch: 100%|██████████| 10/10 [01:46<00:00, 10.63s/it]
Epoch: 100%|██████████| 10/10 [01:41<00:00, 10.13s/it]
Epoch: 100%|██████████| 10/10 [01:42<00:00, 10.29s/it]
Epoch: 100%|██████████| 10/10 [01:39<00:00,  9.90s/it]
Epoch: 100%|██████████| 10/10 [03:19<00:00, 19.99s/it]
Epoch: 100%|██████████| 10/10 [03:16<00:00, 19.69s/it]
Epoch: 100%|██████████| 10/10 [03:39<00:00, 21.95s/it]
Epoch: 100%|██████████| 10/10 [05:46<00:00, 34.61s/it]
Epoch: 100%|██████████| 10/10 [05:26<00:00, 32.68s/it]
Epoch: 100%|██████████| 10/10 [10:40<00:00, 64.05s/it]
Epoch: 100%|██████████| 10/10 [08:57<00:00, 53.71s/it]
Epoch: 100%|██████████| 10/10 [06:46<00:00, 40.68s/it]
Epoch: 100%|██████████| 10/10 [10:28<00:00, 62.90s/it]
Epoch: 100%|██████████| 10/10 [08:15<00:00, 49.56s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.19s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.17s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.17s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.19s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.14s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.53s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.51s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.52s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.53s/it]
Epoch: 100%|██████████| 10/10 [00:24<00:00,  2.45s/it]
Epoch: 100%|██████████| 10/10 [02:48<00:00, 16.88s/it]
Epoch: 100%|██████████| 10/10 [03:11<00:00, 19.19s/it]
Epoch: 100%|██████████| 10/10 [03:11<00:00, 19.17s/it]
Epoch: 100%|██████████| 10/10 [03:02<00:00, 18.24s/it]
Epoch: 100%|██████████| 10/10 [03:07<00:00, 18.75s/it]
Epoch: 100%|██████████| 10/10 [05:28<00:00, 32.81s/it]
Epoch: 100%|██████████| 10/10 [03:38<00:00, 21.81s/it]
Epoch: 100%|██████████| 10/10 [03:49<00:00, 22.94s/it]
Epoch: 100%|██████████| 10/10 [03:38<00:00, 21.83s/it]
Epoch: 100%|██████████| 10/10 [03:29<00:00, 20.99s/it]
Epoch: 100%|██████████| 10/10 [07:00<00:00, 42.00s/it]
Epoch: 100%|██████████| 10/10 [07:40<00:00, 46.01s/it]
Epoch: 100%|██████████| 10/10 [07:48<00:00, 46.83s/it]
Epoch: 100%|██████████| 10/10 [08:10<00:00, 49.07s/it]
Epoch: 100%|██████████| 10/10 [07:18<00:00, 43.85s/it]
Epoch: 100%|██████████| 10/10 [00:21<00:00,  2.15s/it]
Epoch: 100%|██████████| 10/10 [00:20<00:00,  2.08s/it]
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.28s/it]
Epoch: 100%|██████████| 10/10 [00:11<00:00,  1.11s/it]
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.28s/it]
Epoch: 100%|██████████| 10/10 [00:26<00:00,  2.66s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.54s/it]
Epoch: 100%|██████████| 10/10 [00:26<00:00,  2.67s/it]
Epoch: 100%|██████████| 10/10 [00:26<00:00,  2.69s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.57s/it]
Epoch: 100%|██████████| 10/10 [01:51<00:00, 11.18s/it]
Epoch: 100%|██████████| 10/10 [01:43<00:00, 10.39s/it]
Epoch: 100%|██████████| 10/10 [01:47<00:00, 10.79s/it]
Epoch: 100%|██████████| 10/10 [01:47<00:00, 10.74s/it]
Epoch: 100%|██████████| 10/10 [01:39<00:00,  9.95s/it]
Epoch: 100%|██████████| 10/10 [03:25<00:00, 20.51s/it]
Epoch: 100%|██████████| 10/10 [03:11<00:00, 19.18s/it]
Epoch: 100%|██████████| 10/10 [03:11<00:00, 19.12s/it]
Epoch: 100%|██████████| 10/10 [03:14<00:00, 19.41s/it]
Epoch: 100%|██████████| 10/10 [03:07<00:00, 18.71s/it]
Epoch: 100%|██████████| 10/10 [08:15<00:00, 49.52s/it]
Epoch: 100%|██████████| 10/10 [06:16<00:00, 37.64s/it]
Epoch: 100%|██████████| 10/10 [06:27<00:00, 38.79s/it]
Epoch: 100%|██████████| 10/10 [06:36<00:00, 39.65s/it]
Epoch: 100%|██████████| 10/10 [1:38:47<00:00, 592.78s/it]
c:\Users\ferbi\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan]
  warnings.warn(
Epoch: 100%|██████████| 10/10 [00:14<00:00,  1.49s/it]

GridSearchCV(cv=5,
             estimator=<lightfm.lightfm.LightFM object at 0x00000181A789CE10>,
             param_grid={'learning_rate': [0.01, 0.03, 0.1, 0.2],
                         'no_components': [3, 10, 50, 100, 200]},
             scoring='accuracy')

In [ ]:
#best_params = grid_search.best_params_
#best_params

{'learning_rate': 0.01, 'no_components': 3}

Los mejores parametros encontrados fueron:
no_components = 3
learning_rate = 0.01

Conociendo los mejores parametros, obtenidos a partir de GridSearchCV, entrenamos el modelo con estos parametros:

In [ ]:
model = LightFM(no_components=3, random_state=100, learning_rate=0.01)

Entrenamos este modelo durante 10 epocas:

In [ ]:
%%time 
#Devuelve el tiempo que le lleva a mi maquina el entrenamiento
model = model.fit(interactions_matrix_csr, epochs = 10)

CPU times: total: 5.22 s
Wall time: 15.3 s

Obtenemos las recomendaciones para cada usuario en el set de test, en este caso, al no tener usuarios cold start, tampoco haremos recomendaciones del contenido mas popular:

In [ ]:
from tqdm import tqdm

# Definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'user_id': [],
    'recomms': [],
    'watched_content': []  # Nueva columna para contener el contenido que el usuario ya vio
}

# Obtenemos cantidad de usuarios y cantidad de items
n_users, n_items = interactions_matrix.shape
item_ids = np.arange(n_items)

# Por cada usuario del dataset de test, generamos recomendaciones
for user in tqdm(df_test.user_id.unique()):
    # Validar si el usuario se encuentra en la matriz de interacciones (interactions_matrix.index)
    if user in list(interactions_matrix.index):
        # Si el usuario está en train, no es cold start. Usamos el modelo para recomendar
        user_x = user_dict[user]  # Buscamos el índice del usuario en la matriz (transformamos id a índice)

        # Generar las predicciones para el usuario x
        preds = model.predict(user_ids=user_x, item_ids=item_ids)

        # Basándose en el ejemplo anterior, ordenar las predicciones de menor a mayor y quedarse con 50.
        scores = pd.Series(preds)
        scores.index = interactions_matrix.columns
        scores = list(pd.Series(scores.sort_values(ascending=False).index))[:50]

        # Obtener listado de contenidos vistos anteriormente por el usuario (en el set de train)
        watched_contents = df_train[df_train.user_id == user].anime_id.unique()

        # Filtrar contenidos ya vistos y quedarse con los primeros 10
        recomms = [x for x in scores if x not in watched_contents][:10]

        # Guardamos las recomendaciones en el diccionario
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(scores)
        recomms_dict['watched_content'].append(watched_contents)

# Convertir el diccionario a un DataFrame
recomms_df = pd.DataFrame(recomms_dict)

100%|██████████| 1000/1000 [00:06<00:00, 161.88it/s]

In [ ]:
recomms_df = pd.DataFrame(recomms_dict)
recomms_df

,user_id,recomms,watched_content
0,36253,"[6547, 30276, 22319, 14813, 4224, 18153, 9756,...","[6324, 18195, 33502, 257, 2969, 18095, 9014, 3..."
1,128855,"[6547, 22319, 30276, 14813, 4224, 18153, 20507...","[3342, 32281, 2994, 21881, 16916, 1679, 6164, ..."
2,286479,"[6547, 22319, 30276, 14813, 4224, 18153, 20507...","[45, 24531, 387, 10491, 31798, 25859, 23985, 4..."
3,221161,"[6547, 22319, 30276, 14813, 18153, 20507, 4224...","[17251, 29501, 32238, 9332, 33, 21647, 31056, ..."
4,11697,"[6547, 22319, 30276, 14813, 4224, 18153, 28121...","[13855, 31715, 6984, 6736, 11021, 42990, 9253,..."
...,...,...,...
995,6149,"[6547, 30276, 14813, 4224, 22319, 9756, 18153,...","[9289, 33741, 38080, 18247, 21067, 13333, 9936..."
996,35941,"[6547, 30276, 14813, 4224, 22319, 18153, 9756,...","[3058, 3382, 169, 14353, 5040, 963, 238, 31452..."
997,217920,"[6547, 30276, 22319, 14813, 4224, 18153, 28121...","[101, 2899, 10681, 32698, 13839, 39988, 7222, ..."
998,135124,"[6547, 30276, 14813, 22319, 4224, 18153, 9756,...","[15633, 17873, 2889, 33219, 263, 37865, 15125,..."
999,111507,"[6547, 30276, 14813, 22319, 4224, 18153, 9756,...","[7580, 9074, 4719, 257, 564, 33836, 30376, 360..."

EVALUACION DE METRICAS  
Compararemos nuestras recomendaciones contra las que los usuarios realemnte vieron (set de test)

Primero ordenamos los animes segun los ratings (de mayor a menor) que dieron los usuarios en el set de testeo. Luego, agrupamos y arnamamos un listado de animes para cada usuario. Este sera el listado "ideal" contra el que vams a comparar nuestras recomendaciones.

In [ ]:
ideal_recomms = df_test\
                  .sort_values(by=["user_id", "rating", "anime_id"], ascending=False)\
                  .groupby(["user_id"], as_index=False)\
                  .agg({"anime_id": lambda x: list(x.unique())})

Generamos el dataset ideal

In [ ]:
#Tenemos un conjunto de datos que muestra las recomendaciones
#ideales para cada uno de los usuarios del conjunto de testeo
ideal_recomms.head()

   user_id                                           anime_id
0      781  [36553, 35843, 34096, 31043, 21333, 16738, 153...
1      890  [7025, 4240, 4181, 3220, 2981, 2257, 1088, 885...
2      943  [42984, 39940, 39324, 38889, 38680, 36480, 358...
3     1177  [10087, 5114, 3784, 3702, 2904, 2449, 1698, 14...
4     1397  [21557, 16528, 9000, 530, 270, 30, 33489, 2880...

Vamos a medir MAP: 
Primero unimos en un mismo dataframe las recomndaciones con el set ideal

In [ ]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="user_id", right_on="user_id")[["user_id", "anime_id", "recomms"]]
df_map.columns = ["user_id", "ideal", "recomms"]
df_map.head()

,user_id,ideal,recomms
0,781,"[36553, 35843, 34096, 31043, 21333, 16738, 153...","[6547, 22319, 30276, 20507, 14813, 18153, 4224..."
1,890,"[7025, 4240, 4181, 3220, 2981, 2257, 1088, 885...","[6547, 30276, 14813, 22319, 4224, 18153, 9756,..."
2,943,"[42984, 39940, 39324, 38889, 38680, 36480, 358...","[6547, 30276, 4224, 14813, 22319, 9756, 18153,..."
3,1177,"[10087, 5114, 3784, 3702, 2904, 2449, 1698, 14...","[6547, 30276, 14813, 22319, 4224, 18153, 9756,..."
4,1397,"[21557, 16528, 9000, 530, 270, 30, 33489, 2880...","[6547, 22319, 30276, 14813, 20507, 18153, 4224..."

In [ ]:
df_map.tail()

,user_id,ideal,recomms
995,351696,"[31149, 21939, 2251, 477, 202, 33818, 32983, 3...","[22319, 6547, 30276, 14813, 4224, 18153, 13601..."
996,351733,"[34591, 34076, 28957, 18679, 17909, 16918, 136...","[6547, 30276, 22319, 14813, 4224, 18153, 20507..."
997,351801,"[22535, 7193, 5040, 3014, 1535, 467, 338, 3392...","[6547, 30276, 22319, 14813, 20507, 4224, 18153..."
998,352922,"[16662, 283, 29831, 4081, 3297, 256, 15731, 46...","[6547, 30276, 4224, 14813, 22319, 9756, 5114, ..."
999,352930,"[13759, 12113, 9989, 9941, 6547, 6045, 5760, 5...","[6547, 30276, 14813, 4224, 22319, 18153, 9756,..."

In [ ]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["ideal", "recomms"]].values:
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1 
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.01544

Vemos que la metrica MAP si bien mejoró con respecto al sistema que utilizaba el 5% de datos seleccionado al azar, aún sigue sindo malo

Probamos entrenar el modelo durante 30 epocas:

In [ ]:
%%time 
#Devuelve el tiempo que le lleva a mi maquina el entrenamiento
model = model.fit(interactions_matrix_csr, epochs = 30)

CPU times: total: 24.3 s
Wall time: 45.3 s

In [ ]:
from tqdm import tqdm

# Definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'user_id': [],
    'recomms': [],
    'watched_content': []  # Nueva columna para contener el contenido que el usuario ya vio
}

# Obtenemos cantidad de usuarios y cantidad de items
n_users, n_items = interactions_matrix.shape
item_ids = np.arange(n_items)

# Por cada usuario del dataset de test, generamos recomendaciones
for user in tqdm(df_test.user_id.unique()):
    # Validar si el usuario se encuentra en la matriz de interacciones (interactions_matrix.index)
    if user in list(interactions_matrix.index):
        # Si el usuario está en train, no es cold start. Usamos el modelo para recomendar
        user_x = user_dict[user]  # Buscamos el índice del usuario en la matriz (transformamos id a índice)

        # Generar las predicciones para el usuario x
        preds = model.predict(user_ids=user_x, item_ids=item_ids)

        # Basándose en el ejemplo anterior, ordenar las predicciones de menor a mayor y quedarse con 50.
        scores = pd.Series(preds)
        scores.index = interactions_matrix.columns
        scores = list(pd.Series(scores.sort_values(ascending=False).index))[:50]

        # Obtener listado de contenidos vistos anteriormente por el usuario (en el set de train)
        watched_contents = df_train[df_train.user_id == user].anime_id.unique()

        # Filtrar contenidos ya vistos y quedarse con los primeros 10
        recomms = [x for x in scores if x not in watched_contents][:10]

        # Guardamos las recomendaciones en el diccionario
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(scores)
        recomms_dict['watched_content'].append(watched_contents)

# Convertir el diccionario a un DataFrame
recomms_df = pd.DataFrame(recomms_dict)

100%|██████████| 1000/1000 [00:06<00:00, 158.21it/s]

In [ ]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="user_id", right_on="user_id")[["user_id", "anime_id", "recomms"]]
df_map.columns = ["user_id", "ideal", "recomms"]
df_map.head()

,user_id,ideal,recomms
0,781,"[36553, 35843, 34096, 31043, 21333, 16738, 153...","[4224, 6547, 16498, 10087, 9253, 10620, 23283,..."
1,890,"[7025, 4240, 4181, 3220, 2981, 2257, 1088, 885...","[4224, 6547, 16498, 10087, 9253, 8074, 10620, ..."
2,943,"[42984, 39940, 39324, 38889, 38680, 36480, 358...","[6547, 4224, 9253, 10087, 16498, 10620, 23283,..."
3,1177,"[10087, 5114, 3784, 3702, 2904, 2449, 1698, 14...","[6547, 4224, 16498, 10087, 9253, 8074, 10620, ..."
4,1397,"[21557, 16528, 9000, 530, 270, 30, 33489, 2880...","[4224, 6547, 16498, 10087, 9253, 23283, 10620,..."

In [ ]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["ideal", "recomms"]].values:
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1 
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.01377

Probamos entrenar el modelo durante 50 epocas:

In [ ]:
%%time 
#Devuelve el tiempo que le lleva a mi maquina el entrenamiento
model = model.fit(interactions_matrix_csr, epochs = 50)

CPU times: total: 30.2 s
Wall time: 1min 16s

In [ ]:
from tqdm import tqdm

# Definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'user_id': [],
    'recomms': [],
    'watched_content': []  # Nueva columna para contener el contenido que el usuario ya vio
}

# Obtenemos cantidad de usuarios y cantidad de items
n_users, n_items = interactions_matrix.shape
item_ids = np.arange(n_items)

# Por cada usuario del dataset de test, generamos recomendaciones
for user in tqdm(df_test.user_id.unique()):
    # Validar si el usuario se encuentra en la matriz de interacciones (interactions_matrix.index)
    if user in list(interactions_matrix.index):
        # Si el usuario está en train, no es cold start. Usamos el modelo para recomendar
        user_x = user_dict[user]  # Buscamos el índice del usuario en la matriz (transformamos id a índice)

        # Generar las predicciones para el usuario x
        preds = model.predict(user_ids=user_x, item_ids=item_ids)

        # Basándose en el ejemplo anterior, ordenar las predicciones de menor a mayor y quedarse con 50.
        scores = pd.Series(preds)
        scores.index = interactions_matrix.columns
        scores = list(pd.Series(scores.sort_values(ascending=False).index))[:50]

        # Obtener listado de contenidos vistos anteriormente por el usuario (en el set de train)
        watched_contents = df_train[df_train.user_id == user].anime_id.unique()

        # Filtrar contenidos ya vistos y quedarse con los primeros 10
        recomms = [x for x in scores if x not in watched_contents][:10]

        # Guardamos las recomendaciones en el diccionario
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(scores)
        recomms_dict['watched_content'].append(watched_contents)

# Convertir el diccionario a un DataFrame
recomms_df = pd.DataFrame(recomms_dict)

100%|██████████| 1000/1000 [00:06<00:00, 157.47it/s]

In [ ]:
recomms_df = pd.DataFrame(recomms_dict)
recomms_df

,user_id,recomms,watched_content
0,36253,"[9253, 16498, 31964, 23283, 1575, 19815, 15809...","[6324, 18195, 33502, 257, 2969, 18095, 9014, 3..."
1,128855,"[9253, 16498, 30276, 31964, 23283, 15809, 1575...","[3342, 32281, 2994, 21881, 16916, 1679, 6164, ..."
2,286479,"[9253, 16498, 30276, 31964, 23283, 1575, 19815...","[45, 24531, 387, 10491, 31798, 25859, 23985, 4..."
3,221161,"[9253, 30276, 16498, 31964, 23283, 15809, 1981...","[17251, 29501, 32238, 9332, 33, 21647, 31056, ..."
4,11697,"[9253, 30276, 16498, 31964, 23283, 19815, 1575...","[13855, 31715, 6984, 6736, 11021, 42990, 9253,..."
...,...,...,...
995,6149,"[9253, 30276, 16498, 31964, 23283, 19815, 2904...","[9289, 33741, 38080, 18247, 21067, 13333, 9936..."
996,35941,"[9253, 16498, 31964, 30276, 23283, 19815, 1575...","[3058, 3382, 169, 14353, 5040, 963, 238, 31452..."
997,217920,"[9253, 30276, 16498, 31964, 23283, 19815, 1575...","[101, 2899, 10681, 32698, 13839, 39988, 7222, ..."
998,135124,"[9253, 16498, 30276, 31964, 23283, 15809, 1575...","[15633, 17873, 2889, 33219, 263, 37865, 15125,..."
999,111507,"[9253, 16498, 30276, 31964, 23283, 1575, 19815...","[7580, 9074, 4719, 257, 564, 33836, 30376, 360..."

In [ ]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="user_id", right_on="user_id")[["user_id", "anime_id", "recomms"]]
df_map.columns = ["user_id", "ideal", "recomms"]
df_map.head()

,user_id,ideal,recomms
0,781,"[36553, 35843, 34096, 31043, 21333, 16738, 153...","[9253, 31964, 16498, 23283, 30276, 1575, 19815..."
1,890,"[7025, 4240, 4181, 3220, 2981, 2257, 1088, 885...","[9253, 16498, 30276, 31964, 23283, 1575, 15809..."
2,943,"[42984, 39940, 39324, 38889, 38680, 36480, 358...","[9253, 16498, 15809, 31964, 30276, 6547, 1575,..."
3,1177,"[10087, 5114, 3784, 3702, 2904, 2449, 1698, 14...","[9253, 16498, 31964, 23283, 30276, 1575, 15809..."
4,1397,"[21557, 16528, 9000, 530, 270, 30, 33489, 2880...","[9253, 16498, 31964, 30276, 15809, 23283, 1575..."

In [ ]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["ideal", "recomms"]].values:
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1 
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.01407

Probamos entrenar el modelo durante 100 epocas:

In [ ]:
%%time 
#Devuelve el tiempo que le lleva a mi maquina el entrenamiento
model = model.fit(interactions_matrix_csr, epochs = 100)

CPU times: total: 1min 33s
Wall time: 2min 33s

In [ ]:
from tqdm import tqdm

# Definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'user_id': [],
    'recomms': [],
    'watched_content': []  # Nueva columna para contener el contenido que el usuario ya vio
}

# Obtenemos cantidad de usuarios y cantidad de items
n_users, n_items = interactions_matrix.shape
item_ids = np.arange(n_items)

# Por cada usuario del dataset de test, generamos recomendaciones
for user in tqdm(df_test.user_id.unique()):
    # Validar si el usuario se encuentra en la matriz de interacciones (interactions_matrix.index)
    if user in list(interactions_matrix.index):
        # Si el usuario está en train, no es cold start. Usamos el modelo para recomendar
        user_x = user_dict[user]  # Buscamos el índice del usuario en la matriz (transformamos id a índice)

        # Generar las predicciones para el usuario x
        preds = model.predict(user_ids=user_x, item_ids=item_ids)

        # Basándose en el ejemplo anterior, ordenar las predicciones de menor a mayor y quedarse con 50.
        scores = pd.Series(preds)
        scores.index = interactions_matrix.columns
        scores = list(pd.Series(scores.sort_values(ascending=False).index))[:50]

        # Obtener listado de contenidos vistos anteriormente por el usuario (en el set de train)
        watched_contents = df_train[df_train.user_id == user].anime_id.unique()

        # Filtrar contenidos ya vistos y quedarse con los primeros 10
        recomms = [x for x in scores if x not in watched_contents][:10]

        # Guardamos las recomendaciones en el diccionario
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(scores)
        recomms_dict['watched_content'].append(watched_contents)

# Convertir el diccionario a un DataFrame
recomms_df = pd.DataFrame(recomms_dict)

100%|██████████| 1000/1000 [00:06<00:00, 151.16it/s]

In [ ]:
recomms_df = pd.DataFrame(recomms_dict)
recomms_df

,user_id,recomms,watched_content
0,36253,"[28223, 1535, 14813, 9989, 5081, 11757, 15809,...","[6324, 18195, 33502, 257, 2969, 18095, 9014, 3..."
1,128855,"[28223, 1535, 14813, 9989, 5081, 11757, 199, 2...","[3342, 32281, 2994, 21881, 16916, 1679, 6164, ..."
2,286479,"[28223, 1535, 14813, 9989, 5081, 11757, 20507,...","[45, 24531, 387, 10491, 31798, 25859, 23985, 4..."
3,221161,"[28223, 14813, 1535, 9989, 5081, 11757, 15809,...","[17251, 29501, 32238, 9332, 33, 21647, 31056, ..."
4,11697,"[28223, 1535, 14813, 9989, 5081, 11757, 199, 2...","[13855, 31715, 6984, 6736, 11021, 42990, 9253,..."
...,...,...,...
995,6149,"[28223, 14813, 1535, 9989, 5081, 11757, 199, 6...","[9289, 33741, 38080, 18247, 21067, 13333, 9936..."
996,35941,"[28223, 1535, 14813, 9989, 5081, 11757, 15809,...","[3058, 3382, 169, 14353, 5040, 963, 238, 31452..."
997,217920,"[28223, 1535, 14813, 9989, 5081, 11757, 20507,...","[101, 2899, 10681, 32698, 13839, 39988, 7222, ..."
998,135124,"[28223, 1535, 14813, 9989, 33206, 11757, 6547,...","[15633, 17873, 2889, 33219, 263, 37865, 15125,..."
999,111507,"[1535, 28223, 14813, 9989, 5081, 11757, 20507,...","[7580, 9074, 4719, 257, 564, 33836, 30376, 360..."

In [ ]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="user_id", right_on="user_id")[["user_id", "anime_id", "recomms"]]
df_map.columns = ["user_id", "ideal", "recomms"]
df_map.head()

,user_id,ideal,recomms
0,781,"[36553, 35843, 34096, 31043, 21333, 16738, 153...","[28223, 1535, 14813, 9989, 5081, 11757, 199, 2..."
1,890,"[7025, 4240, 4181, 3220, 2981, 2257, 1088, 885...","[28223, 14813, 1535, 9989, 5081, 11757, 199, 1..."
2,943,"[42984, 39940, 39324, 38889, 38680, 36480, 358...","[1535, 28223, 14813, 9989, 5081, 20507, 11757,..."
3,1177,"[10087, 5114, 3784, 3702, 2904, 2449, 1698, 14...","[28223, 1535, 14813, 9989, 5081, 11757, 20507,..."
4,1397,"[21557, 16528, 9000, 530, 270, 30, 33489, 2880...","[28223, 1535, 14813, 9989, 5081, 11757, 20507,..."

In [ ]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["ideal", "recomms"]].values:
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1 
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.01482

En lugar de los 1.000 usuarios que mayor cantidad de animes vieron, probamos quedarnos con los primeros 10.000 usuarios para ver si mejoran las metricas

In [9]:
df_10000 = df_anime_count_sorted.head(10000)
df_10000

      user_id  amount_animes_watched
0      189037                  15455
1      162615                  14864
2       68042                  13462
3      283786                  12778
4      259790                   9996
...       ...                    ...
9995   297827                    728
9996    22440                    727
9997   229628                    727
9998   276888                    727
9999    23772                    727

[10000 rows x 2 columns]

In [10]:
rating_complete.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

Unimos ambos datasets:

In [11]:
# Realizamos la unión utilizando 'user_id' como clave y 'inner' como método
merged_df = pd.merge(rating_complete, df_10000, on='user_id', how='inner')

# Imprimimos el DataFrame resultante
print("Usuarios con 'user_id' en común:")
print(merged_df)

Usuarios con 'user_id' en común:
          user_id  anime_id  rating  amount_animes_watched
0             314     17397       7                    881
1             314     35849       8                    881
2             314      7338       8                    881
3             314      1575      10                    881
4             314     12685       5                    881
...           ...       ...     ...                    ...
11377072   353398     33421       6                    759
11377073   353398     37007       4                    759
11377074   353398     28825       6                    759
11377075   353398     34028       3                    759
11377076   353398     36296       8                    759

[11377077 rows x 4 columns]

In [ ]:
merged_df.shape

(11377077, 4)

In [ ]:
merged_df.head()

   user_id  anime_id  rating  amount_animes_watched
0      314     17397       7                    881
1      314     35849       8                    881
2      314      7338       8                    881
3      314      1575      10                    881
4      314     12685       5                    881

Dividimos el dataset en conjuntos de train y test:

In [16]:
from sklearn.model_selection import train_test_split

In [ ]:
df_train, df_test = train_test_split(merged_df, test_size=0.2, random_state=42)

In [ ]:
df_train.head()

         user_id  anime_id  rating  amount_animes_watched
1473788    44567     23023       4                   1791
4523041   140663     29758       6                   1493
3862552   120887     28025       2                   1109
9725271   302508      1802       7                    807
4010626   125583     13239       6                   1187

In [ ]:
df_train.shape #Tenemos un conjunto de entrenamiento con 9.101.661 entradas

(9101661, 4)

In [ ]:
df_train.user_id.nunique() #En el set de train tenemos 10.000 usuarios diferentes

10000

In [ ]:
df_train.anime_id.nunique() #En el set de train tenemos 16.813 animes diferentes

16813

In [ ]:
df_test.head()

          user_id  anime_id  rating  amount_animes_watched
8623316    269503     22319       9                    983
294120       9946     12671       1                   1134
6316489    197099     16033       8                   1594
11215942   348493      1727       4                    868
9618668    299599     37999       7                    896

In [ ]:
df_test.shape #Tenemos un conjunto de testeo con 2.275.416 entradas

(2275416, 4)

In [ ]:
df_test.user_id.nunique() #En el set de test tenemos 10.000 usuarios diferentes

10000

Dado que en todo el set de datos tenemos 10.000 usuarios diferentes, entendemos que en este caso no habra usuarios COLD START, ya que todos los usuarios que se encuentran en train, se encuentran tambien en test

In [ ]:
#Comprobemos esto:
df_test[~df_test.user_id.isin(df_train.user_id.unique())].user_id.nunique()

0

Efectivamente, no tenemos usuarios que aparecen en el set de test pero no en el de train. Sino que todos los usuarios aparecen en ambos conjuntos.

In [ ]:
df_train.columns

Index(['user_id', 'anime_id', 'rating', 'amount_animes_watched'], dtype='object')

In [ ]:
#Nos quedamos con las columnas que nos interesan, tanto en train como en test: 
df_train = df_train.drop('amount_animes_watched', axis=1)
df_test = df_test.drop('amount_animes_watched', axis=1)

In [ ]:
df_train.head()

         user_id  anime_id  rating
1473788    44567     23023       4
4523041   140663     29758       6
3862552   120887     28025       2
9725271   302508      1802       7
4010626   125583     13239       6

In [ ]:
df_test.head()

          user_id  anime_id  rating
8623316    269503     22319       9
294120       9946     12671       1
6316489    197099     16033       8
11215942   348493      1727       4
9618668    299599     37999       7

Ahora, armamos la matriz de interacciones. Sabemos que tenemos 10.000 usuarios diferentes y 16.813 animes diferentes en el conjunto de train.

In [24]:
matrix_columns = ['user_id', 'anime_id', 'rating']

In [ ]:
interactions = df_train[matrix_columns]
interactions.head()

         user_id  anime_id  rating
1473788    44567     23023       4
4523041   140663     29758       6
3862552   120887     28025       2
9725271   302508      1802       7
4010626   125583     13239       6

In [ ]:
interactions.shape

(9101661, 3)

In [ ]:
#Reseteamos los indices
interactions = interactions.reset_index(drop=True)

In [ ]:
interactions.head()

   user_id  anime_id  rating
0    44567     23023       4
1   140663     29758       6
2   120887     28025       2
3   302508      1802       7
4   125583     13239       6

In [ ]:
#Verificamos si existen filas duplicadas
duplicate_rows = interactions[interactions.duplicated(subset=['user_id', 'anime_id'], keep=False)]
print(duplicate_rows)

Empty DataFrame
Columns: [user_id, anime_id, rating]
Index: []

In [ ]:
interactions_matrix = interactions.pivot_table(index='user_id', columns='anime_id', values='rating')

In [ ]:
interactions_matrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,47307,47398,47402,47403,47410,47614,47616,47618,48177,48456
user_id,,,,,,,,,,,,,,,,,,,,,
314,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,10.0,10.0,8.0,8.0,NaN,8.0,8.0,NaN,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,9.0,9.0,7.0,6.0,NaN,7.0,NaN,5.0,7.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Completamos los NaN con 0s
interactions_matrix = interactions_matrix.fillna(0)
interactions_matrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,47307,47398,47402,47403,47410,47614,47616,47618,48177,48456
user_id,,,,,,,,,,,,,,,,,,,,,
314,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
326,10.0,10.0,8.0,8.0,0.0,8.0,8.0,0.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
371,9.0,9.0,7.0,6.0,0.0,7.0,0.0,5.0,7.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
interactions_matrix.shape #Tiene 10.000 filas (usuarios) y 16.813 columnas (animes)

(10000, 16813)

Vamos a transformar esta matriz sparsa a una matriz csr matrix (compressed sparse row)

In [32]:
from scipy.sparse import csr_matrix

In [ ]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

In [ ]:
interactions_matrix_csr

<10000x16813 sparse matrix of type '<class 'numpy.float64'>'
	with 9101661 stored elements in Compressed Sparse Row format>

La siguiente celda generara un diccionario que nos servira mas adelante como indice. Tiene como keys el id de cada usuario y como valor el indice (numero de fila de la matriz)

In [34]:
user_ids = list(interactions_matrix.index)
user_dict = {}
counter = 0 
for i in user_ids:
    user_dict[i] = counter
    counter += 1

In [ ]:
user_dict

{314: 0,
 326: 1,
 340: 2,
 346: 3,
 371: 4,
 442: 5,
 446: 6,
 478: 7,
 493: 8,
 601: 9,
 603: 10,
 694: 11,
 730: 12,
 781: 13,
 785: 14,
 853: 15,
 876: 16,
 890: 17,
 911: 18,
 912: 19,
 936: 20,
 943: 21,
 953: 22,
 985: 23,
 995: 24,
 1008: 25,
 1177: 26,
 1187: 27,
 1231: 28,
 1289: 29,
 1393: 30,
 1397: 31,
 1407: 32,
 1453: 33,
 1469: 34,
 1470: 35,
 1483: 36,
 1612: 37,
 1627: 38,
 1629: 39,
 1694: 40,
 1697: 41,
 1731: 42,
 1766: 43,
 1803: 44,
 1817: 45,
 1878: 46,
 1938: 47,
 1946: 48,
 2003: 49,
 2018: 50,
 2021: 51,
 2037: 52,
 2162: 53,
 2235: 54,
 2236: 55,
 2292: 56,
 2303: 57,
 2414: 58,
 2464: 59,
 2483: 60,
 2721: 61,
 2885: 62,
 2892: 63,
 2938: 64,
 2976: 65,
 2993: 66,
 3139: 67,
 3151: 68,
 3165: 69,
 3198: 70,
 3303: 71,
 3333: 72,
 3334: 73,
 3436: 74,
 3473: 75,
 3502: 76,
 3533: 77,
 3578: 78,
 3608: 79,
 3644: 80,
 3681: 81,
 3701: 82,
 3784: 83,
 3812: 84,
 3838: 85,
 3940: 86,
 3999: 87,
 4016: 88,
 4059: 89,
 4104: 90,
 4134: 91,
 4152: 92,
 4312: 93,
 4365: 94,
 4485: 95,
 4716: 96,
 4773: 97,
 4903: 98,
 4944: 99,
 4951: 100,
 4991: 101,
 5009: 102,
 5043: 103,
 5045: 104,
 5059: 105,
 5082: 106,
 5213: 107,
 5226: 108,
 5236: 109,
 5241: 110,
 5242: 111,
 5264: 112,
 5267: 113,
 5322: 114,
 5324: 115,
 5391: 116,
 5480: 117,
 5483: 118,
 5493: 119,
 5496: 120,
 5552: 121,
 5579: 122,
 5586: 123,
 5644: 124,
 5648: 125,
 5651: 126,
 5677: 127,
 5707: 128,
 5735: 129,
 5776: 130,
 5788: 131,
 5813: 132,
 5824: 133,
 5852: 134,
 5903: 135,
 5929: 136,
 5947: 137,
 5993: 138,
 6008: 139,
 6086: 140,
 6099: 141,
 6106: 142,
 6148: 143,
 6149: 144,
 6191: 145,
 6206: 146,
 6249: 147,
 6299: 148,
 6309: 149,
 6313: 150,
 6364: 151,
 6373: 152,
 6399: 153,
 6438: 154,
 6444: 155,
 6536: 156,
 6548: 157,
 6562: 158,
 6564: 159,
 6624: 160,
 6715: 161,
 6745: 162,
 6783: 163,
 6830: 164,
 6851: 165,
 6852: 166,
 6865: 167,
 6872: 168,
 6900: 169,
 6902: 170,
 6910: 171,
 6922: 172,
 6951: 173,
 6954: 174,
 6973: 175,
 6983: 176,
 6986: 177,
 7048: 178,
 7049: 179,
 7089: 180,
 7098: 181,
 7135: 182,
 7179: 183,
 7218: 184,
 7234: 185,
 7263: 186,
 7288: 187,
 7291: 188,
 7364: 189,
 7379: 190,
 7385: 191,
 7406: 192,
 7436: 193,
 7473: 194,
 7508: 195,
 7531: 196,
 7553: 197,
 7588: 198,
 7590: 199,
 7624: 200,
 7733: 201,
 7750: 202,
 7755: 203,
 7762: 204,
 7790: 205,
 7794: 206,
 7812: 207,
 7861: 208,
 7889: 209,
 7908: 210,
 7909: 211,
 7916: 212,
 7924: 213,
 7932: 214,
 8000: 215,
 8031: 216,
 8037: 217,
 8056: 218,
 8074: 219,
 8100: 220,
 8143: 221,
 8168: 222,
 8175: 223,
 8182: 224,
 8239: 225,
 8290: 226,
 8296: 227,
 8302: 228,
 8326: 229,
 8354: 230,
 8450: 231,
 8479: 232,
 8549: 233,
 8554: 234,
 8592: 235,
 8634: 236,
 8728: 237,
 8773: 238,
 8780: 239,
 8860: 240,
 8993: 241,
 8997: 242,
 9000: 243,
 9001: 244,
 9012: 245,
 9035: 246,
 9037: 247,
 9091: 248,
 9102: 249,
 9149: 250,
 9165: 251,
 9186: 252,
 9528: 253,
 9534: 254,
 9615: 255,
 9623: 256,
 9643: 257,
 9650: 258,
 9705: 259,
 9727: 260,
 9740: 261,
 9747: 262,
 9778: 263,
 9817: 264,
 9831: 265,
 9843: 266,
 9863: 267,
 9946: 268,
 9954: 269,
 9957: 270,
 9970: 271,
 9991: 272,
 10000: 273,
 10066: 274,
 10136: 275,
 10180: 276,
 10195: 277,
 10205: 278,
 10224: 279,
 10255: 280,
 10268: 281,
 10334: 282,
 10344: 283,
 10359: 284,
 10367: 285,
 10409: 286,
 10472: 287,
 10559: 288,
 10589: 289,
 10598: 290,
 10646: 291,
 10683: 292,
 10689: 293,
 10693: 294,
 10730: 295,
 10773: 296,
 10777: 297,
 10784: 298,
 10814: 299,
 10851: 300,
 10869: 301,
 10889: 302,
 10911: 303,
 10993: 304,
 11011: 305,
 11015: 306,
 11023: 307,
 11048: 308,
 11097: 309,
 11100: 310,
 11110: 311,
 11173: 312,
 11200: 313,
 11205: 314,
 11249: 315,
 11292: 316,
 11296: 317,
 11378: 318,
 11396: 319,
 11497: 320,
 11527: 321,
 11543: 322,
 11544: 323,
 11558: 324,
 11572: 325,
 11605: 326,
 11628: 327,
 11648: 328,
 11650: 329,
 11654: 330,
 11690: 331,
 11697: 332,
 11716: 333,
 11725: 334,
 11740: 335,
 11789: 336,
 11862: 337,
 11922: 338,
 11939: 339,
 11945: 340,
 11986: 341,
 12017: 342,
 12021: 343,
 12022: 344,
 12044: 345,
 12056: 346,
 12066: 347,
 12116: 348,
 12132: 349,
 12168: 350,
 12256: 351,
 12270: 352,
 12290: 353,
 12332: 354,
 12388: 355,
 12429: 356,
 12450: 357,
 12492: 358,
 12500: 359,
 12507: 360,
 12571: 361,
 12688: 362,
 12741: 363,
 12756: 364,
 12837: 365,
 12853: 366,
 12857: 367,
 12888: 368,
 12903: 369,
 12916: 370,
 12925: 371,
 12968: 372,
 13064: 373,
 13116: 374,
 13137: 375,
 13162: 376,
 13181: 377,
 13184: 378,
 13206: 379,
 13211: 380,
 13229: 381,
 13259: 382,
 13277: 383,
 13297: 384,
 13307: 385,
 13364: 386,
 13381: 387,
 13400: 388,
 13423: 389,
 13501: 390,
 13604: 391,
 13605: 392,
 13613: 393,
 13631: 394,
 13638: 395,
 13668: 396,
 13676: 397,
 13758: 398,
 13768: 399,
 13770: 400,
 13782: 401,
 13790: 402,
 13815: 403,
 13901: 404,
 13909: 405,
 13912: 406,
 13919: 407,
 13929: 408,
 13964: 409,
 14012: 410,
 14063: 411,
 14092: 412,
 14122: 413,
 14126: 414,
 14156: 415,
 14198: 416,
 14206: 417,
 14256: 418,
 14295: 419,
 14333: 420,
 14347: 421,
 14455: 422,
 14466: 423,
 14473: 424,
 14497: 425,
 14638: 426,
 14666: 427,
 14676: 428,
 14737: 429,
 14764: 430,
 14784: 431,
 14863: 432,
 14874: 433,
 14958: 434,
 15035: 435,
 15077: 436,
 15083: 437,
 15124: 438,
 15212: 439,
 15213: 440,
 15282: 441,
 15298: 442,
 15308: 443,
 15310: 444,
 15389: 445,
 15413: 446,
 15423: 447,
 15431: 448,
 15467: 449,
 15468: 450,
 15507: 451,
 15609: 452,
 15631: 453,
 15663: 454,
 15693: 455,
 15813: 456,
 15864: 457,
 15867: 458,
 15872: 459,
 15932: 460,
 15983: 461,
 16046: 462,
 16057: 463,
 16146: 464,
 16262: 465,
 16282: 466,
 16323: 467,
 16334: 468,
 16452: 469,
 16463: 470,
 16487: 471,
 16526: 472,
 16530: 473,
 16532: 474,
 16546: 475,
 16578: 476,
 16588: 477,
 16589: 478,
 16612: 479,
 16687: 480,
 16721: 481,
 16766: 482,
 16787: 483,
 16805: 484,
 16819: 485,
 16845: 486,
 16863: 487,
 16865: 488,
 16868: 489,
 16883: 490,
 16951: 491,
 17130: 492,
 17155: 493,
 17166: 494,
 17178: 495,
 17179: 496,
 17205: 497,
 17273: 498,
 17279: 499,
 17285: 500,
 17292: 501,
 17301: 502,
 17322: 503,
 17363: 504,
 17371: 505,
 17445: 506,
 17546: 507,
 17584: 508,
 17611: 509,
 17649: 510,
 17667: 511,
 17675: 512,
 17745: 513,
 17796: 514,
 17800: 515,
 17832: 516,
 17845: 517,
 17932: 518,
 17947: 519,
 17950: 520,
 18030: 521,
 18042: 522,
 18193: 523,
 18213: 524,
 18221: 525,
 18271: 526,
 18327: 527,
 18349: 528,
 18355: 529,
 18359: 530,
 18387: 531,
 18394: 532,
 18407: 533,
 18414: 534,
 18422: 535,
 18461: 536,
 18553: 537,
 18618: 538,
 18648: 539,
 18653: 540,
 18663: 541,
 18686: 542,
 18710: 543,
 18886: 544,
 18929: 545,
 18935: 546,
 18953: 547,
 19013: 548,
 19014: 549,
 19064: 550,
 19070: 551,
 19125: 552,
 19138: 553,
 19147: 554,
 19171: 555,
 19199: 556,
 19237: 557,
 19294: 558,
 19374: 559,
 19413: 560,
 19418: 561,
 19486: 562,
 19495: 563,
 19497: 564,
 19530: 565,
 19533: 566,
 19536: 567,
 19552: 568,
 19594: 569,
 19595: 570,
 19692: 571,
 19758: 572,
 19784: 573,
 19789: 574,
 19823: 575,
 19867: 576,
 19886: 577,
 19901: 578,
 19918: 579,
 19928: 580,
 19964: 581,
 19994: 582,
 20050: 583,
 20055: 584,
 20137: 585,
 20157: 586,
 20168: 587,
 20198: 588,
 20288: 589,
 20292: 590,
 20313: 591,
 20314: 592,
 20352: 593,
 20367: 594,
 20443: 595,
 20457: 596,
 20468: 597,
 20505: 598,
 20516: 599,
 20546: 600,
 20568: 601,
 20600: 602,
 20634: 603,
 20752: 604,
 20781: 605,
 20782: 606,
 20807: 607,
 20924: 608,
 21032: 609,
 21100: 610,
 21137: 611,
 21411: 612,
 21414: 613,
 21425: 614,
 21435: 615,
 21439: 616,
 21471: 617,
 21555: 618,
 21602: 619,
 21609: 620,
 21615: 621,
 21643: 622,
 21669: 623,
 21688: 624,
 21741: 625,
 21789: 626,
 21862: 627,
 21878: 628,
 21917: 629,
 21922: 630,
 21924: 631,
 22018: 632,
 22022: 633,
 22049: 634,
 22073: 635,
 22105: 636,
 22188: 637,
 22209: 638,
 22310: 639,
 22366: 640,
 22440: 641,
 22444: 642,
 22465: 643,
 22513: 644,
 22526: 645,
 22556: 646,
 22577: 647,
 22578: 648,
 22628: 649,
 22634: 650,
 22635: 651,
 22653: 652,
 22678: 653,
 22697: 654,
 22725: 655,
 22729: 656,
 22753: 657,
 22767: 658,
 22802: 659,
 22805: 660,
 22813: 661,
 22868: 662,
 22892: 663,
 22930: 664,
 22936: 665,
 22980: 666,
 22997: 667,
 23076: 668,
 23103: 669,
 23149: 670,
 23166: 671,
 23183: 672,
 23184: 673,
 23241: 674,
 23274: 675,
 23327: 676,
 23394: 677,
 23403: 678,
 23431: 679,
 23433: 680,
 23485: 681,
 23505: 682,
 23555: 683,
 23585: 684,
 23602: 685,
 23644: 686,
 23719: 687,
 23720: 688,
 23772: 689,
 23878: 690,
 23895: 691,
 23913: 692,
 23920: 693,
 23928: 694,
 23930: 695,
 23934: 696,
 23955: 697,
 24000: 698,
 24068: 699,
 24099: 700,
 24215: 701,
 24297: 702,
 24315: 703,
 24350: 704,
 24435: 705,
 24482: 706,
 24510: 707,
 24569: 708,
 24590: 709,
 24595: 710,
 24720: 711,
 24725: 712,
 24730: 713,
 24764: 714,
 24767: 715,
 24775: 716,
 24789: 717,
 24793: 718,
 24795: 719,
 24805: 720,
 24825: 721,
 24833: 722,
 24840: 723,
 24845: 724,
 24875: 725,
 24983: 726,
 24987: 727,
 24990: 728,
 25001: 729,
 25033: 730,
 25120: 731,
 25179: 732,
 25275: 733,
 25320: 734,
 25323: 735,
 25376: 736,
 25377: 737,
 25380: 738,
 25383: 739,
 25411: 740,
 25433: 741,
 25446: 742,
 25470: 743,
 25476: 744,
 25508: 745,
 25536: 746,
 25555: 747,
 25605: 748,
 25646: 749,
 25733: 750,
 25742: 751,
 25773: 752,
 25798: 753,
 25838: 754,
 25873: 755,
 25898: 756,
 25902: 757,
 25905: 758,
 25912: 759,
 25927: 760,
 25978: 761,
 25984: 762,
 26007: 763,
 26017: 764,
 26045: 765,
 26059: 766,
 26144: 767,
 26152: 768,
 26164: 769,
 26178: 770,
 26250: 771,
 26314: 772,
 26524: 773,
 26565: 774,
 26650: 775,
 26651: 776,
 26654: 777,
 26655: 778,
 26661: 779,
 26677: 780,
 26679: 781,
 26734: 782,
 26757: 783,
 26807: 784,
 26852: 785,
 26945: 786,
 26949: 787,
 26980: 788,
 26989: 789,
 27141: 790,
 27158: 791,
 27208: 792,
 27293: 793,
 27297: 794,
 27380: 795,
 27393: 796,
 27413: 797,
 27424: 798,
 27459: 799,
 27473: 800,
 27495: 801,
 27510: 802,
 27568: 803,
 27618: 804,
 27631: 805,
 27633: 806,
 27694: 807,
 27782: 808,
 27821: 809,
 27860: 810,
 27949: 811,
 27990: 812,
 28000: 813,
 28040: 814,
 28157: 815,
 28167: 816,
 28192: 817,
 28205: 818,
 28260: 819,
 28332: 820,
 28355: 821,
 28453: 822,
 28470: 823,
 28481: 824,
 28505: 825,
 28582: 826,
 28626: 827,
 28669: 828,
 28711: 829,
 28778: 830,
 28800: 831,
 28854: 832,
 28861: 833,
 28943: 834,
 28965: 835,
 28983: 836,
 28992: 837,
 29005: 838,
 29030: 839,
 29214: 840,
 29224: 841,
 29242: 842,
 29258: 843,
 29321: 844,
 29343: 845,
 29363: 846,
 29365: 847,
 29371: 848,
 29376: 849,
 29400: 850,
 29411: 851,
 29431: 852,
 29480: 853,
 29561: 854,
 29592: 855,
 29602: 856,
 29605: 857,
 29607: 858,
 29638: 859,
 29644: 860,
 29650: 861,
 29667: 862,
 29728: 863,
 29762: 864,
 29967: 865,
 30035: 866,
 30059: 867,
 30131: 868,
 30155: 869,
 30223: 870,
 30261: 871,
 30276: 872,
 30295: 873,
 30310: 874,
 30313: 875,
 30336: 876,
 30355: 877,
 30368: 878,
 30422: 879,
 30460: 880,
 30473: 881,
 30500: 882,
 30504: 883,
 30507: 884,
 30526: 885,
 30640: 886,
 30664: 887,
 30704: 888,
 30881: 889,
 30946: 890,
 31019: 891,
 31027: 892,
 31086: 893,
 31091: 894,
 31123: 895,
 31159: 896,
 31166: 897,
 31176: 898,
 31257: 899,
 31265: 900,
 31273: 901,
 31358: 902,
 31360: 903,
 31363: 904,
 31377: 905,
 31379: 906,
 31401: 907,
 31440: 908,
 31495: 909,
 31507: 910,
 31532: 911,
 31543: 912,
 31547: 913,
 31568: 914,
 31595: 915,
 31611: 916,
 31615: 917,
 31627: 918,
 31631: 919,
 31703: 920,
 31754: 921,
 31772: 922,
 31775: 923,
 31816: 924,
 31822: 925,
 31854: 926,
 31858: 927,
 31879: 928,
 31891: 929,
 31942: 930,
 31962: 931,
 31966: 932,
 32075: 933,
 32088: 934,
 32109: 935,
 32112: 936,
 32145: 937,
 32184: 938,
 32216: 939,
 32246: 940,
 32290: 941,
 32296: 942,
 32319: 943,
 32360: 944,
 32413: 945,
 32436: 946,
 32456: 947,
 32484: 948,
 32498: 949,
 32504: 950,
 32564: 951,
 32570: 952,
 32587: 953,
 32589: 954,
 32612: 955,
 32618: 956,
 32652: 957,
 32656: 958,
 32665: 959,
 32668: 960,
 32721: 961,
 32765: 962,
 32827: 963,
 32833: 964,
 32841: 965,
 32851: 966,
 32872: 967,
 32993: 968,
 33011: 969,
 33015: 970,
 33064: 971,
 33110: 972,
 33160: 973,
 33205: 974,
 33270: 975,
 33275: 976,
 33277: 977,
 33336: 978,
 33365: 979,
 33386: 980,
 33389: 981,
 33416: 982,
 33505: 983,
 33525: 984,
 33575: 985,
 33580: 986,
 33618: 987,
 33637: 988,
 33657: 989,
 33693: 990,
 33762: 991,
 33798: 992,
 33801: 993,
 33863: 994,
 33895: 995,
 33901: 996,
 33918: 997,
 33930: 998,
 33931: 999,
 ...}

Modelado: ya tenemos la matriz lista para entrenar el modelo. Utilizaremos la libreria LFM (light fm)

In [35]:
from lightfm import LightFM

c:\Users\ferbi\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [ ]:
model = LightFM(no_components=3, random_state=100, learning_rate=0.01)

Entrenamos este modelo durante 10 epocas:

In [ ]:
%%time 
#Devuelve el tiempo que le lleva a mi maquina el entrenamiento
model = model.fit(interactions_matrix_csr, epochs = 10)

CPU times: total: 1min 6s
Wall time: 2min 19s

Obtenemos las recomendaciones para cada usuario en el set de test, en este caso, al no tener usuarios cold start, tampoco haremos recomendaciones del contenido mas popular:

In [ ]:
from tqdm import tqdm

# Definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'user_id': [],
    'recomms': [],
    'watched_content': []  # Nueva columna para contener el contenido que el usuario ya vio
}

# Obtenemos cantidad de usuarios y cantidad de items
n_users, n_items = interactions_matrix.shape
item_ids = np.arange(n_items)

# Por cada usuario del dataset de test, generamos recomendaciones
for user in tqdm(df_test.user_id.unique()):
    # Validar si el usuario se encuentra en la matriz de interacciones (interactions_matrix.index)
    if user in list(interactions_matrix.index):
        # Si el usuario está en train, no es cold start. Usamos el modelo para recomendar
        user_x = user_dict[user]  # Buscamos el índice del usuario en la matriz (transformamos id a índice)

        # Generar las predicciones para el usuario x
        preds = model.predict(user_ids=user_x, item_ids=item_ids)

        # Basándose en el ejemplo anterior, ordenar las predicciones de menor a mayor y quedarse con 50.
        scores = pd.Series(preds)
        scores.index = interactions_matrix.columns
        scores = list(pd.Series(scores.sort_values(ascending=False).index))[:50]

        # Obtener listado de contenidos vistos anteriormente por el usuario (en el set de train)
        watched_contents = df_train[df_train.user_id == user].anime_id.unique()

        # Filtrar contenidos ya vistos y quedarse con los primeros 10
        recomms = [x for x in scores if x not in watched_contents][:10]

        # Guardamos las recomendaciones en el diccionario
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(scores)
        recomms_dict['watched_content'].append(watched_contents)

# Convertir el diccionario a un DataFrame
recomms_df = pd.DataFrame(recomms_dict)

100%|██████████| 10000/10000 [02:52<00:00, 57.93it/s]

In [ ]:
recomms_df = pd.DataFrame(recomms_dict)
recomms_df

,user_id,recomms,watched_content
0,269503,"[1535, 11757, 6547, 9989, 16498, 4224, 9253, 5...","[36043, 19363, 36949, 16662, 2950, 1861, 9062,..."
1,9946,"[1535, 11757, 6547, 9253, 4224, 1575, 9989, 50...","[21899, 35848, 23423, 3603, 7817, 1887, 12049,..."
2,197099,"[1535, 11757, 6547, 9989, 5081, 9253, 1575, 42...","[21273, 36919, 39819, 36511, 21879, 36497, 958..."
3,348493,"[1535, 11757, 6547, 16498, 9989, 5081, 4224, 9...","[1920, 9332, 7059, 358, 6127, 4884, 1013, 376,..."
4,299599,"[11757, 6547, 1535, 30276, 1575, 4224, 16498, ...","[6291, 32937, 9203, 31964, 31163, 21327, 4535,..."
...,...,...,...
9995,253316,"[1535, 11757, 6547, 16498, 9989, 5081, 4224, 9...","[2798, 2132, 10163, 2768, 8129, 940, 39587, 32..."
9996,30664,"[1535, 11757, 6547, 16498, 9989, 5081, 4224, 9...","[19815, 245, 3901, 26023, 23945, 585, 20365, 1..."
9997,258866,"[1535, 11757, 6547, 9989, 9253, 4224, 1575, 16...","[30370, 31772, 40591, 17849, 38810, 20507, 415..."
9998,13676,"[11757, 6547, 1535, 30276, 1575, 4224, 16498, ...","[14749, 24873, 5041, 32935, 22877, 17505, 4789..."
9999,292095,"[11757, 1535, 6547, 16498, 5081, 9989, 4224, 3...","[21405, 34662, 20545, 9471, 9253, 15583, 14467..."

EVALUACION DE METRICAS  
Compararemos nuestras recomendaciones contra las que los usuarios realemnte vieron (set de test)

Primero ordenamos los animes segun los ratings (de mayor a menor) que dieron los usuarios en el set de testeo. Luego, agrupamos y arnamamos un listado de animes para cada usuario. Este sera el listado "ideal" contra el que vams a comparar nuestras recomendaciones.

In [ ]:
ideal_recomms = df_test\
                  .sort_values(by=["user_id", "rating", "anime_id"], ascending=False)\
                  .groupby(["user_id"], as_index=False)\
                  .agg({"anime_id": lambda x: list(x.unique())})

Generamos el dataset ideal

In [ ]:
#Tenemos un conjunto de datos que muestra las recomendaciones
#ideales para cada uno de los usuarios del conjunto de testeo
ideal_recomms.head()

   user_id                                           anime_id
0      314  [21001, 14199, 13851, 13663, 13221, 12549, 113...
1      326  [37675, 35073, 34599, 32827, 31240, 5300, 5258...
2      340  [10568, 9253, 40221, 37105, 36949, 35507, 3413...
3      346  [37510, 33253, 31580, 31376, 28621, 23281, 222...
4      371  [164, 40776, 1430, 1088, 572, 32, 38993, 35968...

Vamos a medir MAP: 
Primero unimos en un mismo dataframe las recomndaciones con el set ideal

In [ ]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="user_id", right_on="user_id")[["user_id", "anime_id", "recomms"]]
df_map.columns = ["user_id", "ideal", "recomms"]
df_map.head()

,user_id,ideal,recomms
0,314,"[21001, 14199, 13851, 13663, 13221, 12549, 113...","[1535, 11757, 6547, 16498, 9989, 5081, 4224, 9..."
1,326,"[37675, 35073, 34599, 32827, 31240, 5300, 5258...","[1535, 11757, 6547, 16498, 9989, 4224, 5081, 9..."
2,340,"[10568, 9253, 40221, 37105, 36949, 35507, 3413...","[1535, 11757, 6547, 16498, 9989, 5081, 4224, 9..."
3,346,"[37510, 33253, 31580, 31376, 28621, 23281, 222...","[11757, 1535, 6547, 4224, 9253, 1575, 9989, 50..."
4,371,"[164, 40776, 1430, 1088, 572, 32, 38993, 35968...","[1535, 11757, 6547, 16498, 9989, 4224, 5081, 9..."

In [ ]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["ideal", "recomms"]].values:
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1 
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.02044

Las métricas mejoran pero no tanto.  

Probemos entrenando un modelo con los 20.000 usuarios que mas animes vieron:

In [12]:
df_20000 = df_anime_count_sorted.head(20000)
df_20000

       user_id  amount_animes_watched
0       189037                  15455
1       162615                  14864
2        68042                  13462
3       283786                  12778
4       259790                   9996
...        ...                    ...
19995    43481                    535
19996   192136                    535
19997   292161                    535
19998   202209                    535
19999    59521                    535

[20000 rows x 2 columns]

Unimos ambos datasets:

In [13]:
# Realizamos la unión utilizando 'user_id' como clave y 'inner' como método
merged_df = pd.merge(rating_complete, df_20000, on='user_id', how='inner')

# Imprimimos el DataFrame resultante
print("Usuarios con 'user_id' en común:")
print(merged_df)

Usuarios con 'user_id' en común:
          user_id  anime_id  rating  amount_animes_watched
0              17      5781       7                    709
1              17      6682      10                    709
2              17     14199       2                    709
3              17     12355       6                    709
4              17     23673       6                    709
...           ...       ...     ...                    ...
17546513   353398     33421       6                    759
17546514   353398     37007       4                    759
17546515   353398     28825       6                    759
17546516   353398     34028       3                    759
17546517   353398     36296       8                    759

[17546518 rows x 4 columns]

In [14]:
merged_df.head()

   user_id  anime_id  rating  amount_animes_watched
0       17      5781       7                    709
1       17      6682      10                    709
2       17     14199       2                    709
3       17     12355       6                    709
4       17     23673       6                    709

Dividimos el dataset en conjuntos de train y test:

In [17]:
df_train, df_test = train_test_split(merged_df, test_size=0.2, random_state=42)

In [18]:
df_train.user_id.nunique() #En el set de train tenemos 20.000 usuarios diferentes

20000

In [19]:
df_train.anime_id.nunique() #En el set de train tenemos 16.819 animes diferentes

16819

In [20]:
df_test.user_id.nunique() #En el set de test tenemos 20.000 usuarios diferentes

20000

Dado que en todo el set de datos tenemos 20.000 usuarios diferentes, entendemos que en este caso no habra usuarios COLD START, ya que todos los usuarios que se encuentran en train, se encuentran tambien en test

In [21]:
#Comprobemos esto:
df_test[~df_test.user_id.isin(df_train.user_id.unique())].user_id.nunique()

0

Efectivamente, no tenemos usuarios que aparecen en el set de test pero no en el de train. Sino que todos los usuarios aparecen en ambos conjuntos.

In [22]:
#Nos quedamos con las columnas que nos interesan, tanto en train como en test: 
df_train = df_train.drop('amount_animes_watched', axis=1)
df_test = df_test.drop('amount_animes_watched', axis=1)

Ahora, armamos la matriz de interacciones. Sabemos que tenemos 20.000 usuarios diferentes y 16.819 animes diferentes en el conjunto de train.

In [25]:
interactions = df_train[matrix_columns]
interactions.head()

          user_id  anime_id  rating
9698839    196485     36475       7
12120288   245893       317       8
5727071    115661      8246       5
10427489   211237      9521       7
5020636    101155      1047      10

In [26]:
#Reseteamos los indices
interactions = interactions.reset_index(drop=True)

In [27]:
interactions_matrix = interactions.pivot_table(index='user_id', columns='anime_id', values='rating')

In [28]:
interactions_matrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,47307,47398,47402,47403,47410,47614,47616,47618,48177,48456
user_id,,,,,,,,,,,,,,,,,,,,,
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,8.0,6.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#Completamos los NaN con 0s
interactions_matrix = interactions_matrix.fillna(0)
interactions_matrix.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,47307,47398,47402,47403,47410,47614,47616,47618,48177,48456
user_id,,,,,,,,,,,,,,,,,,,,,
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,8.0,6.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
interactions_matrix.shape #Tiene 20.000 filas (usuarios) y 16.819 columnas (animes)

(20000, 16819)

In [33]:
interactions_matrix_csr = csr_matrix(interactions_matrix.values)

Modelado: ya tenemos la matriz lista para entrenar el modelo. Utilizaremos la libreria LFM (light fm)

In [36]:
model = LightFM(no_components=3, random_state=100, learning_rate=0.01)

In [37]:
%%time 
#Devuelve el tiempo que le lleva a mi maquina el entrenamiento
model = model.fit(interactions_matrix_csr, epochs = 10)

CPU times: total: 1min 24s
Wall time: 3min 41s

Obtenemos las recomendaciones para cada usuario en el set de test, en este caso, al no tener usuarios cold start, tampoco haremos recomendaciones del contenido mas popular:

In [38]:
from tqdm import tqdm

# Definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'user_id': [],
    'recomms': [],
    'watched_content': []  # Nueva columna para contener el contenido que el usuario ya vio
}

# Obtenemos cantidad de usuarios y cantidad de items
n_users, n_items = interactions_matrix.shape
item_ids = np.arange(n_items)

# Por cada usuario del dataset de test, generamos recomendaciones
for user in tqdm(df_test.user_id.unique()):
    # Validar si el usuario se encuentra en la matriz de interacciones (interactions_matrix.index)
    if user in list(interactions_matrix.index):
        # Si el usuario está en train, no es cold start. Usamos el modelo para recomendar
        user_x = user_dict[user]  # Buscamos el índice del usuario en la matriz (transformamos id a índice)

        # Generar las predicciones para el usuario x
        preds = model.predict(user_ids=user_x, item_ids=item_ids)

        # Basándose en el ejemplo anterior, ordenar las predicciones de menor a mayor y quedarse con 50.
        scores = pd.Series(preds)
        scores.index = interactions_matrix.columns
        scores = list(pd.Series(scores.sort_values(ascending=False).index))[:50]

        # Obtener listado de contenidos vistos anteriormente por el usuario (en el set de train)
        watched_contents = df_train[df_train.user_id == user].anime_id.unique()

        # Filtrar contenidos ya vistos y quedarse con los primeros 10
        recomms = [x for x in scores if x not in watched_contents][:10]

        # Guardamos las recomendaciones en el diccionario
        recomms_dict['user_id'].append(user)
        recomms_dict['recomms'].append(scores)
        recomms_dict['watched_content'].append(watched_contents)

# Convertir el diccionario a un DataFrame
recomms_df = pd.DataFrame(recomms_dict)

100%|██████████| 20000/20000 [11:25<00:00, 29.18it/s]

In [39]:
recomms_df = pd.DataFrame(recomms_dict)
recomms_df

,user_id,recomms,watched_content
0,26661,"[6547, 11757, 16498, 15809, 1575, 1535, 30276,...","[705, 435, 6045, 15377, 17157, 9723, 1568, 577..."
1,34764,"[11757, 6547, 1575, 16498, 4224, 15809, 20507,...","[5545, 40147, 2505, 3452, 23137, 41824, 4720, ..."
2,5809,"[11757, 6547, 1575, 4224, 16498, 30276, 1535, ...","[34626, 27633, 36896, 37520, 31741, 37345, 241..."
3,182279,"[16498, 6547, 11757, 30276, 4224, 15809, 1575,...","[30544, 35756, 38101, 25099, 30383, 35968, 379..."
4,343093,"[11757, 6547, 1575, 4224, 16498, 1535, 9253, 3...","[5355, 13759, 249, 4106, 19221, 1536, 1594, 76..."
...,...,...,...
19995,117164,"[11757, 6547, 1575, 4224, 16498, 1535, 30276, ...","[36108, 9260, 2787, 10080, 32268, 22687, 38993..."
19996,343145,"[11757, 6547, 16498, 1575, 4224, 1535, 30276, ...","[31645, 603, 25781, 8937, 740, 16273, 2126, 11..."
19997,264944,"[11757, 6547, 16498, 1575, 4224, 30276, 15809,...","[18495, 10711, 24991, 355, 10020, 64, 65, 3604..."
19998,295882,"[11757, 6547, 1575, 16498, 4224, 30276, 1535, ...","[22273, 40046, 3652, 37095, 37451, 32915, 1072..."
19999,32677,"[16498, 11757, 6547, 30276, 1575, 4224, 15809,...","[916, 4581, 9938, 5251, 1072, 10490, 10671, 24..."

Primero ordenamos los animes segun los ratings (de mayor a menor) que dieron los usuarios en el set de testeo. Luego, agrupamos y arnamamos un listado de animes para cada usuario. Este sera el listado "ideal" contra el que vams a comparar nuestras recomendaciones.

In [40]:
ideal_recomms = df_test\
                  .sort_values(by=["user_id", "rating", "anime_id"], ascending=False)\
                  .groupby(["user_id"], as_index=False)\
                  .agg({"anime_id": lambda x: list(x.unique())})

In [41]:
#Tenemos un conjunto de datos que muestra las recomendaciones
#ideales para cada uno de los usuarios del conjunto de testeo
ideal_recomms.head()

   user_id                                           anime_id
0       17  [28677, 23755, 16498, 16035, 15451, 14467, 125...
1       19  [30276, 28851, 18523, 14227, 12113, 11741, 116...
2       42  [31043, 22319, 22199, 16782, 14713, 8676, 6746...
3      111  [31772, 28999, 28851, 28171, 11577, 10218, 100...
4      146  [38555, 38524, 37379, 36949, 36220, 34530, 282...

Vamos a medir MAP: 
Primero unimos en un mismo dataframe las recomndaciones con el set ideal

In [42]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="user_id", right_on="user_id")[["user_id", "anime_id", "recomms"]]
df_map.columns = ["user_id", "ideal", "recomms"]
df_map.head()

,user_id,ideal,recomms
0,17,"[28677, 23755, 16498, 16035, 15451, 14467, 125...","[6547, 11757, 1535, 16498, 1575, 4224, 5081, 1..."
1,19,"[30276, 28851, 18523, 14227, 12113, 11741, 116...","[11757, 6547, 16498, 1575, 4224, 30276, 19815,..."
2,42,"[31043, 22319, 22199, 16782, 14713, 8676, 6746...","[11757, 6547, 1575, 16498, 4224, 30276, 15809,..."
3,111,"[31772, 28999, 28851, 28171, 11577, 10218, 100...","[11757, 6547, 1575, 16498, 4224, 1535, 30276, ..."
4,146,"[38555, 38524, 37379, 36949, 36220, 34530, 282...","[11757, 6547, 16498, 1575, 4224, 30276, 19815,..."

In [43]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["ideal", "recomms"]].values:
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1 
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

In [44]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.02245